:root {
  --main-orange: #ff8000;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--main-orange);
  border-radius: 5px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Roboto", serif;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 28px;
}

.content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  display: flex;
  padding-left: 16px;
  height: 100px;
  background-color: var(--main-orange);
}

header img {
  width: 120px;
}

main {
  display: flex;
  min-height: 100vh;
}

.mainAndDishSection {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  border-right: 1px solid var(--main-orange);
}

.restaurantInformation {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.restaurantInformationImg {
  height: 200px;
  object-fit: cover;
}

.restaurantInformationText {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 16px;
}

.restaurantInformationText h1,
.restaurantInformationText p,
.quickLinks img {
  padding-left: 16px;
}

.rating {
  display: flex;
  gap: 8px;
}

.ratingStars {
  display: flex;
  gap: 6px;
}

.ratingStars img {
  width: 16px;
}

.quickLinks img {
  height: 24px;
}

.quickLinks {
  display: flex;
  align-items: center;
  background-color: rgb(235, 234, 234);
  padding-left: 0;
  height: 50px;
  gap: 16px;
}

.quickLinks a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: 500;
}

.quickLinks a:hover {
  text-decoration: none;
  color: var(--main-orange);
}

footer {
  height: 80px;
  background-color: #ff8000;
  margin-top: auto;
}

.footerContent {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0 32px 0 32px;
}
.logo {
  width: 120px;
}

.socialMediaIcons {
  display: flex;
  gap: 16px;
}

.socialIcon {
  height: 32px;
}
