:root {
  --main-orange: #ff8000;
}

.basketContainer {
  width: 400px;
}

.basket {
  position: sticky;
  top: 0;
  width: 100%;
}

.basketHead {
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.basketEmpty {
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.basketEmpty img {
  width: 40px;
}

.basketEmpty p {
  font-size: 18px;
}

.basketContent {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.basketItemName {
  font-size: 18px;
  font-weight: 600;
}

.basketItem {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 300px;
  gap: 12px;
  border-bottom: 1px solid rgb(230, 230, 230);
  padding-bottom: 16px;
}

.basketItemAmountAndPrice {
  display: flex;
  align-items: center;
  gap: 48px;
}

.basketAmountandButtons {
  display: flex;
  align-items: center;
  gap: 16px;
}

.itemPriceAndDelete {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 150px;
}

.basketButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border: 1px solid #a9a9a9;
  border-radius: 60px;
  padding: 18px;
}

.basketButton img {
  width: 25px;
}

.basketButton:hover {
  cursor: pointer;
  filter: drop-shadow(0 0 10px var(--main-orange));
}

.PriceAmountContent {
  padding: 48px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

.subTotalAndDeliveryCosts {
  display: flex;
  margin-top: 8px;
  justify-content: space-between;
}

.payButton {
  margin-top: 16px;
  background-color: var(--main-orange);
  color: white;
  padding: 16px 56px;
  display: flex;
  justify-content: center;
  border: 1px solid var(--main-orange);
  border-radius: 30px;
  font-size: 18px;
  font-weight: 500;
}

.payButton:hover {
  background-color: #f5973a;
  cursor: pointer;
}

.toggleSwitch {
  margin-top: 32px;
  margin-bottom: 32px;
  display: flex;
  align-items: center;
  gap: 32px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--main-orange);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--main-orange);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.basketButtonResp {
  display: none;
}

/* Responsive */

.respBasketContent {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 0 18px;
}

.respBasket {
  position: absolute;
  top: 0;
  width: 100%;
}

.respBasketHead {
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 950px) {
  .basketContainer {
    display: none;
  }

  .basketButtonResp {
    position: sticky;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    background-color: var(--main-orange);
    color: white;
    font-size: 20px;
    font-weight: 500;
    border-radius: 10px;
  }

  .basketButtonResp:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    background-color: var(--main-orange);
    color: white;
    font-size: 20px;
    font-weight: 500;
    border-radius: 10px;
    background-color: #f5973a;
    cursor: pointer;
  }

  .basketHead {
    position: relative;
  }

  .respBasketContainer {
    padding-left: 54px;
    padding-right: 54px;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .subTotalAndDeliveryCosts {
    justify-content: center;
    gap: 6px;
  }

  .basketItemName {
    text-align: center;
  }

  .PriceAmountContent {
    padding: 32px 20px;
  }
}

@media (max-width: 400px) {
  .respBasketContainer {
    padding: 18px;
  }

  .itemPriceAndDelete {
    width: 115px;
    justify-content: center;
    gap: 8px;
  }

  .basketItemAmountAndPrice {
    gap: 24px;
    margin: 0 auto;
  }
}

.respBasketContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(255, 255, 255);
}

.respBasketBackbutton {
  margin-top: 16px;
  background-color: white;
  color: black;
  padding: 16px 56px;
  display: flex;
  justify-content: center;
  border: 1px solid var(--main-orange);
  border-radius: 30px;
  font-size: 18px;
  font-weight: 500;
}

.respBasketBackbutton:hover {
  background-color: #f8c693;
  cursor: pointer;
}
