.basket {
  position: sticky;
  top: 0;
  width: 100%;
}

.basketHead {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.basketEmpty {
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.basketEmpty img {
  width: 40px;
}
