.dish {
  display: flex;
  height: 80px;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  margin-top: 8px;
  border-radius: 10px;
  padding-left: 16px;
  padding-right: 16px;
}

.addToBasketButton {
  padding: 10px;
  border-radius: 100px;
  border: 2px solid orange;
}

.addToBasketButton:hover {
  cursor: pointer;
  background-color: rgb(120, 161, 255);
}
