.dishesContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 16px;
}

.dishesContainer h2 {
  margin-top: 16px;
  margin-bottom: 16px;
}

.dishCategorie {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex-grow: 1;
  margin-bottom: 24px;
}

.dishImg {
  height: 150px;
  object-fit: cover;
}

.dish {
  display: flex;
  padding: 12px;
  justify-content: space-between;
  align-items: center;
  border: 1px solid lightgray;
  border-radius: 10px;
}

.dishInfo {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.addToBasketButton img {
  width: 40px;
  height: 40px;
}

.addToBasketButton:hover {
  cursor: pointer;
  filter: drop-shadow(0 0 10px var(--main-orange));
}
